TFM_Appli/EWARM/Secure/g
TFM_Appli/EWARM/settings/
TFM_Loader/Binary/
TFM_Appli/EWARM/Secure/*.yaml

TFM_SBSFU_Boot/EWARM/NUCLEO-WBA52CG/
TFM_SBSFU_Boot/EWARM/Project.dep
TFM_SBSFU_Boot/EWARM/Project.ewd
TFM_SBSFU_Boot/EWARM/bl2.icf.i
TFM_SBSFU_Boot/EWARM/image_macros_preprocessed_bl2.c
TFM_SBSFU_Boot/EWARM/output.txt
TFM_SBSFU_Boot/EWARM/settings/

TFM_Loader/EWARM/NonSecure/NUCLEO-WBA52CG/
TFM_Loader/EWARM/NonSecure/NUCLEO-WBA52CG_NS/
TFM_Loader/EWARM/NonSecure/Project_ns.dep
TFM_Loader/EWARM/NonSecure/flash_ns.icf.i
TFM_Loader/EWARM/NonSecure/output.txt
TFM_Loader/EWARM/NonSecure/settings/
TFM_Loader/EWARM/Secure/NUCLEO-WBA52CG/
TFM_Loader/EWARM/Secure/NUCLEO-WBA52CG_S/
TFM_Loader/EWARM/Secure/Project_s.dep
TFM_Loader/EWARM/Secure/flash_s.icf.i
TFM_Loader/EWARM/Secure/output.txt
TFM_Loader/EWARM/Secure/settings/
TFM_Loader/EWARM/output.txt
TFM_Loader/EWARM/settings/

TFM_Appli/Binary/
TFM_Appli/EWARM/NonSecure/settings
TFM_Appli/EWARM/NonSecure/NUCLEO-WBA52CG/
TFM_Appli/EWARM/NonSecure/NUCLEO-WBA52CG_NS/
TFM_Appli/EWARM/NonSecure/Project_ns.dep
TFM_Appli/EWARM/NonSecure/output.txt
TFM_Appli/EWARM/NonSecure/stm32wba52xx_flash_ns.icf.i
TFM_Appli/EWARM/Secure/NUCLEO-WBA52CG/
TFM_Appli/EWARM/Secure/NUCLEO-WBA52CG_S/
TFM_Appli/EWARM/Secure/Project_s.dep
TFM_Appli/EWARM/Secure/manifestfilename.template
TFM_Appli/EWARM/Secure/output.txt
TFM_Appli/EWARM/Secure/partition_intermedia.template
TFM_Appli/EWARM/Secure/pid.h.template
TFM_Appli/EWARM/Secure/settings/
TFM_Appli/EWARM/Secure/sid.h.template
TFM_Appli/EWARM/Secure/tfm_common_s.icf.i
TFM_Appli/EWARM/Secure/tfm_secure_irq_handlers_ipc.inc.template
TFM_Appli/EWARM/Secure/tfm_service_list.inc.template
TFM_Appli/EWARM/Secure/tfm_spm_db_ipc.inc.template
TFM_Appli/EWARM/Secure/tfm_veneers.h.template
TFM_Appli/EWARM/output.txt
